@model IEnumerable<WebATM.Models.Transaction>

@{
    ViewBag.Title = "BalansTransaction";
}

<h2>Balans van Gebruiker</h2>


<table class="table table-striped table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Amount)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            @if (item.Amount < -1)
            {
                <td data-field="@Html.DisplayNameFor(model => model.Amount)"
                    data-sortable="true" style="color: red">
                    @Html.DisplayFor(modelItem => item.Amount, new
               { @style = "color:red;" })
                </td>
            }
            else if(item.Amount > 0)
            {
                <td data-field="@Html.DisplayNameFor(model => model.Amount)"
                    data-sortable="true" style="color: limegreen">
                    @Html.DisplayFor(modelItem => item.Amount, new
                    { @style = "color:green;" })
                 </td>
            }

            <td>
                @Html.ActionLink("Info", "Details", "Transactions", new { id = item.Id }, null)
            </td>
        </tr>
    }
</table>
