@model WebATM.Models.Transaction

@{
    ViewBag.Title = "Transactie lijst";
}


<div>
    <h4>Transacties</h4>
    <hr />
    <dl class="dl-horizontal">

        <dt>
            @Html.DisplayNameFor(model => model.Id)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Id)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Hoeveelheid)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hoeveelheid)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Omschrijving)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Omschrijving)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Plaats)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Plaats)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>

        <a class="btn btn-warning" href="javascript:window.print()">Print</a>

    </dl>
</div>
<div>
    @Html.ActionLink("Terug naar hoofdpagina", "Index", "Home")
</div>
